target/
!.mvn/wrapper/maven-wrapper.jar
!modules/core/src/main/**/target/
!modules/core/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!modules/core/src/main/**/out/
!modules/core/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!modules/core/src/main/**/bin/
!modules/core/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!modules/core/src/main/**/build/
!modules/core/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Scala ###
.bsp/